@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.multi-range-slider .thumb::before {
    border: none !important; 
    box-shadow:  none !important;
    margin: -6px -12px !important; 
}
.min-caption, .max-caption {
    box-shadow:  none !important;
    background: #1e90ff !important;
}
.multi-range-slider .bar-inner {
    border: none !important;
    box-shadow: none !important;
}

.multi-range-slider .bar-left, .bar-right {
    box-shadow: none !important;
}
